<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="/helloworld"><span class="glyphicon glyphicon-user"></span> Hello World!</a>
      </li>
      <li>
        <a href="/posts"><span class="glyphicon glyphicon-pushpin"></span> Board</a>
      </li>
    </ul>
  </div>
</nav>
