<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/helloworld">Hello World!</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Board</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/posts">전체글보기</a>
            </div>
          </li>
        </ul>
      </div>
    </ul>
    <ul class="navbar-nav navbar-right">
      <% if(isAuthenticated){ %>
      <li><a href="/users/<%= currentUser.username %>"><span class="glyphicon glyphicon-user"></span> My Account</a>
      </li>
      <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      <% } else { %>
      <li><a href="/users/new"><span class="glyphicon glyphicon-send"></span> Sign Up</a></li>
      <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <% } %>
    </ul>
  </div>
</nav>