.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

/* global style */
.buttons form{
 display: inline-block;
}
/* home style */
.home h1{
 color: darkseagreen;
}

.home-login{ /* 1 */
  max-width: 330px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
 }

/* post style */
.post .post-body{
 white-space: pre-line;
}
.post .posts .date{
 width: 100px;
}

/* user style */
.user {
  max-width: 320px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
 }
 .user-index ul{
  margin: 0;
  padding: 3px 12px;
 }
 .user-index ul:after { /* 1 */
  content: "";
  display: block;
  clear: both;
 }
 .user-index ul li{
  display: inline-block;
  list-style-type: none;
  float:left;
 }
 .user-index ul li a{
  display: inline-block;
  text-decoration:none;
  margin: 3px;
  background-color: #eee;
  padding: 3px 10px;
  border-radius: 3px;
 }
 .user-index ul li a:hover{
  background-color: #ccc;
 }
 .user-edit hr{
  margin-top: 5px;
  margin-bottom: 11px;
 }