<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>취약점 정리</h1>
    <p>건드려본 취약점들을 정리해놓은 원노트 필기장</p>
  </div>
</div>
<div class="container">
  <hr>
  <p><iframe src="https://koreaoffice-my.sharepoint.com/:o:/g/personal/ltj0623_korea_edu/EoO16fkoUslMrBVh0-dbrN4BkDXwjkwCp706KkWrinhxpw?e=kNZLAx&amp;action=embedview&amp;wdStartOn=1" width="100%" height="600px"></iframe></p>
   <div class="alert alert-info text-center" role="alert">
     Powered by OneNote
  </div>
</div>


</body>
</html>
